<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mr Perez tienda de ropa en línea</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/product.css">
    <link rel="icon" href="../assets/img/logo.png">
    <script src="https://kit.fontawesome.com/a2eb1e59d1.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="#">
                    <img src="../assets/img/logo.png" alt="logo" width="50" height="50">
                </a>
                <div class="session-icons">
                    <ul>
                        <li class="me-4">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="me-4">
                            <a class="nav-link active" aria-current="page" href="../views/login.html"><i
                                    class="fa-solid fa-user fs-4"></i></a>
                        </li>
                        <li class="me-3">
                            <a class="nav-link active" aria-current="page" href="../views/cart.html"><i
                                    class="fa-solid fa-cart-shopping fs-4"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <h1>Tus productos</h1>
    </main>

    <section class="product-of-sale container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 product">
                <div class="card shadow mb-3">
                    <div class="card-body text-start p-4">
                        <h4 class="fw-bold">Resumen del pedido</h4>
                        <p class="h5 mb-4">Q500.00</p>
                        <a href="#payment">Continuar</a>
                    </div>
                    <div id="payment"></div>
                </div>                
                <div class="card shadow mb-3">
                    <div class="card-body p-4">
                        <div class="card-payment">
                            <h4 class="fw-bold">Facturación y envío</h4>
                            <form class="row g-3 mt-2 mb-4">
                                <div class="col-md-12">
                                    <label for="inputEmail4" class="p text-muted">Nombres</label>
                                    <input type="text" class="form-control" id="inputEmail4" maxlength="75">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputPassword4" class="p text-muted">Apellidos</label>
                                    <input type="text" class="form-control" id="inputPassword4" maxlength="75">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputAddress" class="p text-muted">Dirección completa</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        placeholder="1234 Villa Nueva" maxlength="250">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputAddress" class="p text-muted">Otros</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        placeholder="Código de acceso 1516">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputAddress2" class="p text-muted">NIT</label>
                                    <input type="text" class="form-control" id="inputAddress2"
                                        placeholder="Número o CF">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputAddress2" class="p text-muted">Teléfono</label>
                                    <input type="number" class="form-control" id="inputAddress2" min="0"
                                        placeholder="42010123" maxlength="10">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputState" class="p text-muted">Método de pago</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>Elige...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="p text-muted" for="gridCheck">
                                            Acepto que me contacten para informarme de mi pedido, promociones y traten mis datos para ofrecerme un mejor servicio.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <a href="ordernumber.html">Finalizar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 product">
                <div class="card shadow">
                    <div class="card-body table-responsive p-4">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="../assets/img/pijama.jpg" alt="photo-cart" width="85">
                                    </td>
                                    <td class="fw-bold">Pijama negra mujer</td>
                                    <td>
                                        <input type="number" class="border border-2 text-center" value="2">
                                    </td>
                                    <td>Q500.00</td>                                    
                                    <td>
                                        <div class="row g-2">
                                            <div class="col-md-12 col-lg-12">
                                                <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                            </div>
                                            <div class="col-md-12 col-lg-12">
                                                <button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid w-100">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 all-rights-reserved">
                <p>&copy; Mr. Perez, todos los derechos reservados.</p>
                <p>Esta página es propiedad de Mr. Perez y los productos aquí descritos.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 contact" id="info-contacto">
                <ul>
                    <li>
                        <h5 class="fw-bold">Contacto</h5>
                    </li>
                    <a href="https://wa.me/50245024363" target="_blank">
                        <li>WhatsApp</li>
                    </a>
                    <a href="mailto:de.rivasherrera@gmail.com">
                        <li>Correo electrónico</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="credits">
            <span class="text-muted p">Hecho por <a href="https://minibytestudios.com"
                    target="_blank">Minibyte</a></span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>