* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

body p,
h5 {
    font-size: 2.1vh;
}

body main {
    background-image: url(../img/pijama-dog.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

body main h1 {
    padding-top: 28vh;
    font-weight: 900;
    padding-left: 13vh;
}

body main p {
    font-size: 2vh;
    padding-left: 13vh;
}

body main a {
    font-size: 2vh;
    margin: 10vh 0vh 0vh 13vh;
    text-decoration: none;
    color: black;
    background: #ffffff;
    padding: 1.4vh;
}

body section {
    height: auto;
    padding-top: 14vh;
}

body .product-of-sale {
    height: auto;
    padding-bottom: 20vh;
}

body .product-of-sale h2 {
    font-weight: 900;
    padding-bottom: 4vh;
}

body footer {
    height: 22vh;
    padding-top: 6vh;
}

@media only screen and (max-width: 1800px) {

    body main h1 {
        padding-left: 2vh;
    }

    body main p {
        padding-left: 2vh;
    }

    body main a {
        margin: 0vh 0vh 0vh 2vh;
        padding: 1.4vh;
    }
}